<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.xrm.client" type="Microsoft.Xrm.Client.Configuration.CrmSection, Microsoft.Xrm.Client" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="TestConnection" connectionString="Server=http://rbev-crm2013dev.cloudapp.net/DEFAULT;User ID=rbev\test1; Password=P@ssw0rd;" />
  </connectionStrings>
  <microsoft.xrm.client>
    <contexts default="TestConnection">
      <add name="TestConnection" type="Mrwa.Emmis.Model.Xrm.EmmisServiceContext, Mrwa.Emmis.Model.Xrm" connectionStringName="TestConnection" serviceName="TestConnection" />
    </contexts>
    <objectCache default="TestConnection">
      <add name="TestConnection" type="System.Runtime.Caching.MemoryCache, System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" instanceMode="PerName" absoluteExpiration="00:01:00" slidingExpiration="00:00:00" duration="00:01:00" priority="Default" outputCacheProfileName="Crm_Emmis" />
    </objectCache>
  </microsoft.xrm.client>
</configuration>
